<footer class="footer">
    {{- if .Site.Copyright }}
    <span>{{ .Site.Copyright | markdownify }}</span>
    {{- else }}
    <span>&copy; 2020-{{ now.Year }} <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
    {{- end }}
    <!-- <span>&middot;</span> -->
    <!-- <span>Powered by <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a></span> -->
    <!-- <span>&middot;</span> -->
    <!-- <span>Theme <a href="https://git.io/hugopapermod" rel="noopener" target="_blank">PaperMod</a></span> -->
    <span>&middot;</span>
    <span><a href="mailto:contact@aicoder.io">AICoder</a></span>
    <span>&middot;</span>
    <span><a href="https://marketing.qiniu.com/cps/redirect?redirect_id=1&cps_key=1h61k89l1j7f6" rel="noopener" target="_blank">七牛云</a></span>
    <span>&middot;</span>
    <span><a href="https://www.infoq.cn/u/aicoder" rel="noopener" target="_blank">InfoQ</a></span>
    <span>&middot;</span>
    <span><a href="https://juejin.cn/user/588993963244430" rel="noopener" target="_blank">掘金</a></span>
    <span>&middot;</span>
    <span><a href="https://my.oschina.net/k8scat" rel="noopener" target="_blank">开源中国</a></span>
    <span>&middot;</span>
    <span><a href="https://www.zhihu.com/people/wanhuasong" rel="noopener" target="_blank">知乎</a></span>
    <span>&middot;</span>
    <span><a href="https://gitee.com/hsowan" rel="noopener" target="_blank">码云</a></span>
    <span>&middot;</span>
    <span><a href="https://leetcode-cn.com/u/k8scat/" rel="noopener" target="_blank">力扣</a></span>
    <span>&middot;</span>
    <span><a href="https://www.jianshu.com/u/0d1c3ff8b7fe" rel="noopener" target="_blank">简书</a></span>
    <span>&middot;</span>
    <span><a href="https://stackoverflow.com/users/10214887/k8scat" rel="noopener" target="_blank">StackOverflow</a></span>
</footer>
<button class="top-link" id="top-link" type="button" aria-label="go to top" title="Go to Top" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
        <path d="M12 6H0l6-6z" /></svg>
</button>
{{- partial "extend_footer.html" . -}}
{{ if (and (in site.Params.mainSections .Type) (ne .Layout `archives`) (ne .Layout `search`)) }}
{{- if not .Site.Params.assets.disableFingerprinting }}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify | fingerprint }}
<script defer src="{{ $highlight.Permalink }}" integrity="{{ $highlight.Data.Integrity }}"
    onload="hljs.initHighlightingOnLoad();"></script>
{{- else}}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify }}
<script defer src="{{ $highlight.Permalink }}" onload="hljs.initHighlightingOnLoad();"></script>
{{- end}}
{{- end }}
<script>
    window.onload = function () {
        if (localStorage.getItem("menu-scroll-position")) {
            document.getElementById('menu').scrollLeft = localStorage.getItem("menu-scroll-position");
        }
    }
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };
    mybutton.onclick = function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        window.location.hash = ''
    }

    function menu_on_scroll() {
        localStorage.setItem("menu-scroll-position", document.getElementById('menu').scrollLeft);
    }

</script>
{{- if (not .Site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })

</script>
{{- end }}
